@charset "utf-8";

body
{
	height: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: white;
    //background-image: url("../_img/background-texture.jpg");
	//background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#divBtnOn, #divBtnOff
{
  position: absolute;
  top:0px;
  width: 100px;
  height: 50px;
  z-index: 9999999999;
  background-color: red;
}

#divBtnUp, #divBtnDown, #divBtnLeft, #divBtnRight
{
  position: absolute;
  top:0px;
  width: 100px;
  height: 50px;
  z-index: 9999999999;
  background-color: white;
}

#divBtnOn
{
    left: 0px;
}

#divBtnOff
{
    left: 100px;
}

#divBtnUp
{
    left: 200px;
}
#divBtnDown
{
    left: 300px;
}
#divBtnLeft
{
    left: 400px;
}
#divBtnRight
{
    left: 500px;
}


#liveWebcam
{
  position: absolute;
  top:50px;
}
    
    
}